{% extends 'base.html' %}
{% from '/macros/_card.html' import render_card %}

{% block title %}
    {{ super() }} Compleméntos
{% endblock title %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }}">
{% endblock styles %}

{% block container %}
    <div class="row">
        <div class="col">
            <h1 class="text-center" style="font-size:70px">COMPLEMENTÓS</h1>
        </div>
    </div>

    {% for item in menu %}
        {% if item.type == 'complement' %}
            {{ render_card(name=item.name, description=item.description, position='horizontal', prices=prices) }}
        {% endif %}
    {% endfor %}

    <div class="row">
        <div class="col">
            <h1 class="text-center" style="font-size:70px">BEBIDAS</h1>
        </div>
    </div>

    {% for item in menu %}
        {% if item.type == 'drink' %}
            {{ render_card(name=item.name, description=item.description, position='horizontal', prices=prices) }}
        {% endif %}
    {% endfor %}
{% endblock container %}