<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="5000">
            <img src="{{ url_for('static', filename='/images/anouncements/anouncement-1.png') }}" class="d-block w-100">
        </div>
        <div class="carousel-item" data-bs-interval="5000">
            <img src="{{ url_for('static', filename='/images/anouncements/anouncement-2.png') }}" class="d-block w-100">
        </div>
        <div class="carousel-item" data-bs-interval="5000">
            <img src="{{ url_for('static', filename='/images/anouncements/anouncement-3.png') }}" class="d-block w-100">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>